@font-face {
  font-family: "SF Pro Rounded";
  src: url("https://db.onlinewebfonts.com/t/ead4092f880f75ff0883ced1856b2c37.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/ead4092f880f75ff0883ced1856b2c37.woff")format("woff");
  font-weight: 400;
  font-display: swap;
}

nav.p-datatable-paginator-bottom {
  border: 0;
}

div.p-datatable-header {
  border-radius: 18px 18px 0 0;
  border: 2px solid var(--p-grey-4);
  border-bottom: 0;
  background-color: var(--p-bg-color-2);
}

div.p-paginator {
  background-color: var(--p-bg-color-2);
  border-radius: 0 0 18px 18px;
  border-inline: 2px solid var(--p-grey-4);
  border-bottom: 2px solid var(--p-grey-4);
}

table.p-datatable-table {
  border: 2px solid var(--p-grey-4);
}

div.p-selectbutton button.p-togglebutton {
  font-size: 14pt;
  width: 100%;
  background-color: var(--p-grey-4);
  border: none;
}
.p-tree {
  transition: all 0.5s;
}
textarea.p-textarea {
  background-color: var(--p-inputtext-background);
}

div.p-selectbutton button.p-togglebutton-checked::before {
  background-color: var(--p-bg-color-2);
}

div.p-datatable-footer {
  background-color: transparent;
  border: none;
}

th.p-datatable-header-cell {
  background-color: transparent;
  border-bottom: 4px solid var(--p-grey-4);
}

#app {
  background-color: var(--p-bg-color-1);
  transition: all 0.5s;
}
.logout-button:hover {
  svg.logout path {
    stroke: var(--p-blue-500);
  }
}

body {
  font-family: 'SF Pro Rounded' !important;
  font-weight: 400 !important;
  font-size: 16pt !important;
}

svg.logout path {
  stroke: var(--p-text-color);
  transition: all 0.5s;
}

svg.lcs {
  fill: var(--p-text-color);
  transition: all 0.5s;
}

.p-password-input {
  width: 100%;
}

.p-dialog-title {
  font-size: 26px !important;
}
.p-inputgroupaddon {
  transition-duration: 0.5s !important;
}

.p-divider {
  transition: all 0.5s;
}
.p-menu {
  transition: all 0.5s;
}

/* Убираем стрелку у popover */
.p-popover::before, .p-popover::after {
  display: none !important;
}

:root {
  --p-bg-color-1: rgba(255,255,255,1.0);
  --p-bg-color-2: rgba(242,242,247,1.0);
  --p-bg-color-3: rgba(255,255,255,1.0);
  --p-text-color: rgba(0,0,0,1.0);

  --p-color-trans: rgba(0, 0, 0, 0.0);

  --p-red-500: rgb(255, 101, 93) !important;
  --p-red-400: rgb(235, 66, 57) !important;

  --p-blue-500: rgba(43,164,230,1.0) !important;
  --p-blue-400: rgb(13, 124, 184) !important;
  --p-blue-500-low-op: rgba(100,179,221,0.2) !important;

  --p-separator-opaque: rgba(198, 198, 200, 0.30) !important;
  --p-inputtext-background: var(--p-bg-color-3) !important;
  --p-multiselect-background: var(--p-bg-color-3) !important;
  --p-select-background: var(--p-bg-color-3) !important;
  --p-divider-border-color: rgba(198, 198, 200, 0.30) !important;
  --p-datatable-border-color : var(--p-grey-3) !important;
  --p-selectbutton-border-radius: 10px !important;
  --p-inputgroup-addon-background: var(--p-bg-color-3) !important;
  --p-button-primary-background: var(--p-blue-500) !important;
  --p-togglebutton-hover-background: var(--p-grey-4) !important;
  --p-datatable-header-cell-selected-color: var(--p-blue-500) !important;

  --p-transition-duration: 0.5s !important;
  --p-transition-timing-function: ease !important;
  --p-transition-property: all !important;
  --p-tooltip-gutter: 0rem !important;
  --p-tooltip-background: var(--p-blue-500) !important;

  --p-tree-background: var(--p-bg-color-3) !important;

  --p-avatar-lg-height: 110px !important;
  --p-avatar-lg-width: 110px !important;
  --p-avatar-border-radius: 18px !important;

  --p-dialog-background: var(--p-bg-color-1) !important;

  --p-popover-content-padding: 15px 8px !important;
  --p-popover-border-radius: 18px !important;

  --p-checkbox-background: var(--p-bg-color-3) !important;

  --p-floatlabel-on-active-background: var(--p-color-trans) !important; 
  --p-floatlabel-active-color: var(--p-text-color) !important; 

  --p-grey-1: #8E8E93;
  --p-grey-2: #AEAEB2;
  --p-grey-3: #C7C7CC;
  --p-grey-4: #D1D1D6;
  --p-grey-5: #E5E5EA;
  --p-grey-6: #F2F2F7;
  --p-grey-7: #F0F0F08A;

}

.p-dark {
  --p-bg-color-1: #1C1C1E;
  --p-bg-color-2: #2C2C2E;
  --p-bg-color-3: #3A3A3C;
  --p-text-color: #FFFFFF;

  --p-separator-opaque: #38383A;
  --p-divider-border-color: #38383A !important;
  --p-button-primary-background: var(--p-blue-700) !important;
  --p-datatable-header-cell-selected-color: var(--p-blue-700) !important;
  --p-tree-background: var(--p-bg-color-1) !important;

  --p-grey-1: #8E8E93;
  --p-grey-2: #636366;
  --p-grey-3: #48484A;
  --p-grey-4: #3A3A3C;
  --p-grey-5: #2C2C2E;
  --p-grey-6: #1C1C1E;
  --p-grey-7: #2C2C2E;

  --p-red: #FF453A;
}