@font-face {
  font-family: "SF Pro Rounded";
  src: url('@/assets/fonts/SFProRoundedRegular.woff')format("woff"),
       url('@/assets/fonts/SFProRoundedRegular.woff2')format("woff2");
}

div.p-datatable-header {
  background-color: transparent;
  border: none;
}

div.p-datatable-footer {
  background-color: transparent;
  border: none;
}

th.p-datatable-header-cell {
  background-color: transparent;
}


body {
  font-family: 'SF Pro Rounded' !important;
  font-weight: 400 !important;
  font-size: 16pt !important;
}
